# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\FHNW\Kompetenzen\gdv_Fundamentals_Data_Viz\fhnw-ds-hs2020-gdv_data_visualization\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
